@font-face {
    font-family: "BarlowBold";
    src: url(/assets/fonts/BarlowSemiCondensed-Bold.ttf);
}

@font-face {
    font-family: "BarlowSemiBold";
    src: url(/assets/fonts/BarlowSemiCondensed-SemiBold.ttf);
}

@font-face {
    font-family: "BarlowRegular";
    src: url(/assets/fonts/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
    font-family: "BarlowLight";
    src: url(/assets/fonts/BarlowSemiCondensed-Light.ttf);
}