$regular : "BarlowRegular", sans-serif;
$light : "BarlowLight", sans-serif;
$semibold: "BarlowSemiBold", sans-serif;
$bold : "BarlowBold", sans-serif;

$violet: hsl(263, 55%, 52%);
$lightgray: hsl(217, 19%, 35%);
$darkgray:hsl(219, 29%, 14%);

