@import "fonts";
@import "variables";
@import "mixins";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(210, 46%, 95%);
    //background-color: red;
}

main {
    margin: 4rem auto;
    max-width: 95%;
    width: 60rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;

     @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        grid-gap: 1rem;
     }
}

// Styles identitques card //

section {
    @include section;
}

.daniel,
.jonathan,
.patrick {
    $text-color: white;
    @include textcolor($text-color);   
}

.jeanette,.kira {
    $text-color: $lightgray;
    @include textcolor ($text-color);    
}


// Styles individuels // 

.daniel {
    background-color: $violet;
    background-image: url(/assets/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0;
    grid-area: 1/1/2/3;

    @media screen and (max-width: 600px) {
        grid-area: 1/1/2/2;
    }
}

.jonathan {
    background-color: $lightgray;
    grid-area: 1/3/2/4;

    @media screen and (max-width: 600px) {
        grid-area: 2/1/3/2;
    }
}

.jeanette {
    background-color: white;
    grid-area: 2/1/3/2;

    @media screen and (max-width: 600px) {
        grid-area: 3/1/4/2;
    }
}

.patrick {
    background-color: $darkgray;
    grid-area: 2/2/3/4;

    @media screen and (max-width: 600px) {
        grid-area: 4/1/5/2;
    }
}

.kira {
    background-color: white;
    grid-area: 1/4/3/5 ;

    @media screen and (max-width: 600px) {
        grid-area: 5/1/6/2;
    }
}

footer {
    text-align: center;
}
