@mixin Text {
    font-family: "DM", sans-serif;
    font-size: 17px;
    color: black;
}

@mixin responsive-grid($column , $row) {
    grid-template-columns: $column;
    grid-template-rows: $row;
}

@mixin Box {
    border-radius: 10px;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}