@mixin responsive-width($width, $max-width) {
    width: $width;

    @media screen and (max-width: 1000px) {
        width: $max-width;
    }
}

@mixin TextVar($size, $height, $spacing) {
    font-size: $size;
    line-height: $height;
    letter-spacing: $spacing;

    @media screen and (min-width: 700px) and (max-width: 900px) {
        font-size: calc(#{$size} - 4px);
    }

     @media screen and (max-width: 700px) {
         font-size: calc(#{$size} - 4px);
         text-wrap: balance;
     }
}