@font-face {
  font-family: "DM";
  src: url(/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "DMItalic";
  src: url(/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  all: unset;
  font-size: 3.5rem;
  line-height: 3rem;
  letter-spacing: 0;
  color: white;
  text-align: center;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  h1 {
    font-size: calc(3.5rem - 4px);
  }
}

h2 {
  all: unset;
  font-size: 2.3rem;
  line-height: 2rem;
  letter-spacing: -2px;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  h2 {
    font-size: calc(2.3rem - 4px);
  }
}

h3 {
  all: unset;
  font-size: 1.7rem;
  line-height: 1.5rem;
  letter-spacing: -1.5px;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  h3 {
    font-size: calc(1.7rem - 4px);
  }
}

body {
  background-color: hsl(0, 0%, 96%);
  font-family: "DM", sans-serif;
  font-size: 17px;
  color: black;
}

main {
  width: 60rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  gap: 1rem;
  background-color: blue;
  height: 48rem;
}
@media screen and (max-width: 1000px) {
  main {
    width: 90%;
  }
}

div {
  border-radius: 10px;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.create-post {
  background-color: hsl(31, 66%, 93%);
  grid-area: 1/1/6/2;
}
.create-post img {
  width: 100%;
  margin-top: 1.5rem;
}
.create-post span {
  color: hsl(256, 67%, 59%);
  font-family: "DMItalic", sans-serif;
}

.faster {
  background-color: hsl(256, 67%, 59%);
  grid-area: 1/2/5/4;
  justify-content: center;
}
.faster img {
  height: 2rem;
  margin-top: 1.5rem;
}
.faster p {
  color: white;
  margin-top: 0.5rem;
  font-size: 17px;
  line-height: none;
  letter-spacing: none;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .faster p {
    font-size: calc(17px - 4px);
  }
}
.faster .color {
  color: hsl(39, 100%, 71%);
}
.faster .italic {
  font-family: "DMItalic", sans-serif;
}

.stats {
  background-color: hsl(254, 88%, 90%);
  grid-area: 1/4/8/5;
}
.stats img {
  height: 18rem;
  margin: 1.3rem 0;
  align-self: flex-start;
}
@media screen and (max-width: 900px) {
  .stats img {
    height: 10rem;
  }
}
.stats p {
  font-size: 17px;
  line-height: none;
  letter-spacing: none;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .stats p {
    font-size: calc(17px - 4px);
  }
}

.content {
  background-color: hsl(39, 100%, 71%);
  grid-area: 6/1/11/2;
  justify-content: space-between;
}
.content img {
  height: 12rem;
  align-self: center;
}
@media screen and (max-width: 900px) {
  .content img {
    height: 8rem;
  }
}

.accounts {
  background-color: white;
  grid-area: 5/2/8/3;
  justify-content: space-between;
}
.accounts img {
  height: 3.7rem;
  align-self: flex-start;
}
@media screen and (max-width: 900px) {
  .accounts img {
    height: 2.5rem;
  }
}

.consistent {
  background-color: hsl(39, 100%, 71%);
  grid-area: 5/3/8/4;
  justify-content: space-between;
}
.consistent img {
  height: 9rem;
  margin-top: 1rem;
}
@media screen and (max-width: 900px) {
  .consistent img {
    height: 5.5rem;
  }
}

.audience {
  background-color: white;
  grid-area: 8/2/11/3;
  align-items: flex-start;
  justify-content: space-around;
}
.audience img {
  height: 4rem;
}
@media screen and (max-width: 900px) {
  .audience img {
    height: 2rem;
  }
}
.audience h2 {
  font-size: 3.5rem;
  line-height: none;
  letter-spacing: none;
  font-weight: 500;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .audience h2 {
    font-size: calc(3.5rem - 4px);
  }
}
@media screen and (max-width: 900px) {
  .audience h2 {
    font-size: 2.5rem;
  }
}
.audience p {
  font-size: 16px;
  line-height: none;
  letter-spacing: none;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .audience p {
    font-size: calc(16px - 4px);
  }
}

.followers {
  background-color: hsl(256, 67%, 59%);
  grid-area: 8/3/11/5;
  flex-direction: row;
  color: white;
}
.followers img {
  height: 11rem;
  margin-right: 0.5rem;
}
@media screen and (max-width: 900px) {
  .followers img {
    height: 8rem;
  }
}
.followers h2 {
  font-size: 2.2rem;
  line-height: 2rem;
  letter-spacing: -1px;
}
@media screen and (min-width: 700px) and (max-width: 900px) {
  .followers h2 {
    font-size: calc(2.2rem - 4px);
  }
}

@media screen and (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(31, 1fr);
    height: 100%;
  }
  .faster {
    grid-area: 1/1/5/2;
  }
  .accounts {
    grid-area: 5/1/7/2;
  }
  .consistent {
    grid-area: 7/1/10/2;
  }
  .stats {
    grid-area: 10/1/16/2;
  }
  .followers {
    grid-area: 16/1/21/2;
  }
  .audience {
    grid-area: 21/1/24/2;
  }
  .create-post {
    grid-area: 24/1/27/2;
  }
  .content {
    grid-area: 27/1/32/2;
  }
}/*# sourceMappingURL=index.css.map */