@import 'mixins';
@import 'responsive';
@import 'variables';

@font-face {
    font-family: "DM" ;
    src: url(/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "DMItalic";
    src: url(/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    all: unset;
    @include TextVar(3.5rem, 3rem, 0);
    color: white;
    text-align: center;
}

h2 {
    all: unset;
    @include TextVar(2.3rem, 2rem, -2px);
}

h3 {
    all: unset;
    @include TextVar(1.7rem, 1.5rem, -1.5px);
}

body {
    background-color: hsl(0, 0%, 96%);
    @include Text;
}

main {
    @include responsive-width(60rem, 90%);
    margin: 2rem auto;
    display: grid;
    @include responsive-grid((repeat(4,minmax(0, 1fr))), (repeat(10,minmax(0, 1fr))));
    gap: 1rem;
    height: 48rem;
}

div {
    @include Box;
}

.create-post {
    background-color: $yellow;
    grid-area: 1/1/6/2;

    img {
        width: 100%;
        margin-top: 1.5rem;

        @media screen and (max-width: 700px) {
            width: 30%;
            align-self: flex-start;
        }

        @media screen and (max-width: 500px) {
            width: 50%;
        }
    }

    span {
        color: $darkpurple;
        font-family: $italic;
    }
}

.faster {
    background-color: $darkpurple;
    grid-area: 1/2/5/4;
    justify-content: center;

    img {
        height: 2rem;
        margin-top: 1.5rem;

        @media screen and (max-width: 700px) {
            height: 1.5rem;
        }
    }

    p {
        color: white;
        margin-top: 0.5rem;
        @include TextVar(17px, none, none);
    }

    .color {
        color: $darkyellow;
    }

    .italic {
        font-family: $italic;
    }
}

.stats {
    background-color: $purple;
    grid-area: 1/4/8/5;

    img {
        height: 18rem;
        margin: 1.3rem 0;
        align-self: flex-start;

        @media screen and (min-width: 700px) and (max-width : 900px) {
            height: 10rem;
        }

        @media screen and (max-width: 700px) {
            height: auto;
            width: 100%;
            align-self: center;
            
        }
    }

    p {
        @include TextVar(17px, none, none);
    }

    @media screen and (max-width: 700px) {
        text-align: center;
    }

}

.content {
    background-color: $darkyellow;
    grid-area: 6/1/11/2;
    justify-content: space-between;

    img {
        height: 12rem;
        align-self: center;

        @media screen and (max-width: 900px) {
            height: 8rem;
        }

        @media screen and (max-width: 700px) {
            height: 12rem;
            align-self: flex-start;
            margin-top: 1.5rem;
        }
    }


}

.accounts {
    background-color: white;
    grid-area: 5/2/8/3;
    justify-content: space-between;

    img {
        height: 3.7rem;
        align-self: flex-start;

        @media screen and (max-width: 900px) {
            height: 2.5rem;
        }

        @media screen and (max-width: 700px) {
            height: 3.5rem;
            margin-bottom: 1rem;
        }
    }
}

.consistent {
    background-color: $darkyellow;
    grid-area: 5/3/8/4;
    justify-content: space-between;
    height: 100%;

    img {
        height: 9rem;
        margin-top: 1rem;

        @media screen and (max-width: 900px) {
            height: 5.5rem;
        }

        @media screen and (max-width: 700px) {
            height: 9rem;
            align-self: flex-start;
        }
    }

    @media screen and (max-width: 700px) {
        padding-bottom: 0;
    }
}

.audience {
    background-color: white;
    grid-area: 8/2/11/3;
    align-items: flex-start;
    justify-content: space-around;
    // text-wrap: nowrap;

    img {
        height: 4rem;

        @media screen and (max-width: 900px) {
            height: 2rem;
        }

        @media screen and (max-width: 700px) {
            height: 4rem;
        }
    }

    h2 {
        @include TextVar(3.5rem, none, none);
        font-weight: 500;

        @media screen and (max-width: 900px) {
            font-size: 2.5rem;
        }
    }

    p {
        @include TextVar(16px, none, none);
        
        @media screen and (max-width: 700px) {
            margin: 1rem 0;
        }

    }

    @media screen and (max-width: 700px) {
        justify-content: space-between;
    }
}

.followers {
    background-color: $darkpurple;
    grid-area: 8/3/11/5;
    flex-direction: row;
    color: white;


    img {
        height: 11rem;
        margin-right: 0.5rem;

        @media screen and (max-width: 900px) {
            height: 8rem;
        }

        @media screen and (max-width: 700px) {
            height: 9rem;
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }

    h2 {
        @include TextVar(2.2rem, 2rem, -1px);
    }

    @media screen and (max-width: 700px) {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    main {
        @include responsive-grid((1fr), (repeat(8, auto)));
        height: 100%;
    }

    .faster {
        grid-area: 1/1/2/2;
    }

    .accounts {
        grid-area: 2/1/3/2;
        align-items: flex-start;
    }

    .consistent {
        grid-area: 3/1/4/2 ;
        align-items: flex-start;
    }

    .stats {
        grid-area: 4/1/5/2;
    }

    .followers {
        grid-area: 5/1/6/2;
    }

    .audience {
        grid-area: 6/1/7/2;
    }

    .create-post {
        grid-area: 7/1/8/2;
        align-items: flex-start;
    }

    .content {
        grid-area: 8/1/9/2;
        align-items: flex-start;
    }
}

.attribution {
    flex-direction: row;
}
