@font-face {
    font-family: "Raleway" ;
    src: url(../assets/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}