$text: hsl(243, 87%, 12%);
$section: hsl(238, 22%, 44%);
$button: hsl(224, 93%, 58%);
$accent: hsl(170, 45%, 43%);
$bgcolor: hsl(240, 75%, 98%);
$lightgrey: hsl(0, 0%, 75%);

$text-font: "OpenSans", sans-serif;
$title: "Raleway", sans-serif;







