@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body p {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  color: hsl(243, 87%, 12%);
  margin-bottom: 2rem;
}
@media screen and (max-width: 767px) {
  body p {
    font-size: 0.8rem;
  }
}
body header li {
  font-family: "Raleway", sans-serif;
  color: hsl(243, 87%, 12%);
  cursor: pointer;
}
@media screen and (max-width: 380px) {
  body header li {
    font-size: 0.7rem;
  }
}
body h1, body h3, body h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: hsl(243, 87%, 12%);
  margin-bottom: 1.5rem;
  line-height: 3rem;
}
@media screen and (max-width: 767px) {
  body h1, body h3, body h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
body h3 {
  line-height: 2.5rem;
  font-size: 1.9rem;
}
@media screen and (max-width: 767px) {
  body h3 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
body form input[type=submit] {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: hsl(243, 87%, 12%);
}
body footer li {
  font-family: "OpenSans", sans-serif;
  color: hsl(243, 87%, 12%);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  body footer li {
    font-size: 0.8rem;
  }
}
body form {
  display: flex;
}
body form input {
  height: 2.5rem;
  margin-bottom: 0.2rem;
}
body form input::-moz-placeholder {
  color: hsl(0, 0%, 75%);
}
body form input::placeholder {
  color: hsl(0, 0%, 75%);
}
body form .input-group {
  width: 55%;
}
body form .input-group input[type=email] {
  border: 0.5px solid hsl(243, 87%, 12%);
  border-radius: 2px;
  width: 100%;
  padding-left: 1rem;
}
@media screen and (max-width: 768px) {
  body form .input-group {
    width: 100%;
  }
}
body form .submit {
  width: 35%;
  margin-left: 0.5rem;
}
body form .submit input[type=submit] {
  width: 100%;
  border: none;
  background-color: hsl(224, 93%, 58%);
  color: white;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(141, 141, 141, 0.53);
  cursor: pointer;
}
body form .submit input[type=submit]:hover {
  background-color: hsl(224, 100%, 70%);
}
@media screen and (max-width: 767px) {
  body form .submit {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
}
body form .message {
  font-family: "OpenSans", sans-serif;
  font-size: 0.7rem;
  color: rgb(193, 71, 93);
  display: none;
  text-align: left;
}
@media screen and (max-width: 767px) {
  body form {
    flex-direction: column;
  }
}
body form:has(input:invalid) input[type=email] {
  border: 1px solid rgb(193, 71, 93);
}
body form:has(input:invalid) .message {
  display: block;
}

header {
  background-image: url(../assets/images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 3rem 4rem 13rem 4rem;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  margin-left: 2.5rem;
}
@media screen and (max-width: 767px) {
  header nav ul li {
    margin-left: 1rem;
  }
  header nav img {
    width: 7rem;
  }
}
@media screen and (max-width: 380px) {
  header nav img {
    width: 4.5rem;
  }
}
header .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hero .hero-content {
  width: 40%;
}
header .hero .hero-image {
  width: 50%;
}
header .hero .hero-image img {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  header .hero .hero-content {
    width: 55%;
  }
  header .hero .hero-image {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  header .hero {
    flex-direction: column;
  }
  header .hero .hero-content {
    width: 100%;
    order: 2;
    text-align: center;
    margin-top: 2.5rem;
  }
  header .hero .hero-image {
    width: 100%;
    order: 1;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding: 2rem 2rem 8rem 2rem;
    background-image: url(../assets/images/bg-curve-mobile.svg);
  }
}

main .productive {
  background-color: hsl(240, 75%, 98%);
  padding: 3rem 4rem 6rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .productive .productive-content {
  width: 50%;
}
main .productive .productive-content p {
  width: 80%;
}
main .productive .productive-content p .space {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1rem;
}
main .productive .productive-content p .accent {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  padding-bottom: 0.2rem;
}
main .productive .productive-content p .accent a {
  text-decoration: none;
  color: hsl(170, 45%, 43%);
}
main .productive .productive-content p .accent img {
  margin-left: 0.3rem;
  vertical-align: middle;
}
main .productive .productive-content .card {
  background-color: white;
  width: 50%;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(169, 169, 169, 0.626);
}
main .productive .productive-content .card p {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 0.5rem 0rem;
}
main .productive .productive-content .card .review {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .productive .productive-content .card .review img {
  border-radius: 50%;
  width: 2rem;
  margin-right: 0.5rem;
}
main .productive .productive-content .card .review p {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1rem;
}
main .productive .productive-content .card .review p span {
  font-size: 0.6rem;
  font-weight: 400;
}
main .productive .productive-image {
  width: 40%;
}
main .productive .productive-image img {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  main .productive .productive-content {
    width: 60%;
  }
  main .productive .productive-content p {
    width: 100%;
  }
  main .productive .productive-content .card {
    width: 100%;
  }
  main .productive .productive-image {
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  main .productive {
    flex-direction: column;
    padding: 2rem 2rem 6rem 2rem;
  }
  main .productive .productive-content {
    order: 2;
    width: 100%;
    text-align: center;
    margin-top: 6rem;
  }
  main .productive .productive-content p {
    text-align: left;
  }
  main .productive .productive-content p .accent {
    margin: 3rem auto;
  }
  main .productive .productive-content .card {
    text-align: left;
  }
  main .productive .productive-image {
    width: 100%;
  }
}
main .early {
  background-color: hsl(238, 22%, 44%);
  padding: 6rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .early .early-content {
  width: 40%;
}
main .early .early-content h3, main .early .early-content p {
  color: rgba(255, 255, 255, 0.847);
}
main .early .early-content p {
  line-height: 1.5rem;
  margin-bottom: 0;
}
main .early .early-form {
  width: 40%;
}
main .early .early-form form {
  flex-direction: column;
}
main .early .early-form form input {
  height: 3rem;
}
main .early .early-form form .input-group {
  width: 100%;
}
main .early .early-form form .input-group input[type=email] {
  width: 100%;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.263);
}
main .early .early-form form .submit {
  width: 50%;
  margin-left: 0;
  margin-top: 1rem;
}
main .early .early-form form .submit input[type=submit] {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.263);
  width: 100%;
}
@media screen and (max-width: 1000px) {
  main .early .early-form form .submit {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  main .early .early-form form .submit {
    width: 100%;
    margin-top: 0.5rem;
  }
}
main .early .early-form .message {
  color: rgba(255, 255, 255, 0.847);
}
main .early .early-form form:has(input:invalid) input[type=email] {
  border: 1px solid rgb(193, 71, 93);
}
@media screen and (max-width: 767px) {
  main .early {
    flex-direction: column;
    padding: 5rem 3rem;
  }
  main .early .early-content {
    width: 100%;
    text-align: center;
  }
  main .early .early-form {
    width: 100%;
    margin-top: 2.5rem;
  }
}

footer {
  background-color: hsl(243, 87%, 12%);
  padding: 4rem 4rem 2rem 4rem;
}
footer .footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 0rem;
}
footer .footer-content .content-start {
  width: 35%;
}
footer .footer-content .content-start p {
  color: rgba(255, 255, 255, 0.8);
}
footer .footer-content .content-start img {
  vertical-align: middle;
  margin-right: 1rem;
}
footer .footer-content .content-middle {
  width: 40%;
}
footer .footer-content .content-middle ul {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
footer .footer-content .content-middle ul li {
  list-style: none;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
footer .footer-content .content-middle ul li:hover {
  color: hsl(224, 100%, 70%);
}
footer .footer-content .content-end {
  display: flex;
}
footer .footer-content .content-end .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  width: 2rem;
  height: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
}
footer .footer-content .content-end .icon:hover {
  color: hsl(224, 100%, 70%);
  border: 1px solid hsl(224, 100%, 70%);
}
footer .footer-content .content-end .icon:not(:first-child) {
  margin-left: 1rem;
}
@media screen and (max-width: 767px) {
  footer .footer-content {
    flex-direction: column;
  }
  footer .footer-content .content-start {
    width: 100%;
  }
  footer .footer-content .content-middle {
    width: 100%;
    margin: 3rem 0rem 4rem 0rem;
  }
  footer .footer-content .content-middle ul {
    display: flex;
    flex-direction: column;
  }
  footer .footer-content .content-middle ul li:nth-child(4) {
    margin-bottom: 2rem;
  }
  footer .footer-content .content-end {
    justify-content: center;
  }
}
footer .attribution {
  margin-bottom: 0;
  margin-top: 4rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}/*# sourceMappingURL=style.css.map */