$lightviolet : hsl(276, 100%, 81%);
$darkvioler: hsl(271, 36%, 24%);
$chatleft : hsl(276, 55%, 52%);
$chatright :hsl(271, 15%, 43%);
$lightgray : hsl(206, 6%, 79%);
$text : hsl(270, 7%, 64%);
$gradient : hsl(293, 100%, 63%), hsl(264, 100%, 61%);
$background : hsl(270, 20%, 96%);
$submit : hsl(271, 36%, 24%);
$radio : hsl(289, 100%, 72%);


$text-font : "Rubik", sans-serif ;