@import "fonts";
@import "variables";
@import "mixins";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $background;
    // background-color: rebeccapurple;
    @include text;
}

.image-top {
    @include bg-image(0, auto, auto, -5%, (0 0 50% 50% / 0 0 35% 35%));
}

.image-bottom {
    @include bg-image(auto, -10%, 0, auto, (50% 50% 0 0 / 35% 35% 0 0));
    opacity: 0.1;
}



main {
    margin: 10rem 20rem;
    width: 100%;
    display: flex;
    
    .mockup {
        width: 22rem;
        background-color: white;
        border-radius: 30px;
        padding: 1rem;

        .screen {
            background-color: $background;
            border-radius: 20px;
            overflow: hidden;

            .screen-header {
                @include gradient(to left);
                border-radius: 0 0 10px 10px;

                .dynamic-island {
                    width: 55%;
                    height: 1.5rem;
                    background-color: white;
                    margin: 0 auto;
                    border-radius: 0 0 15px 15px;
                }

                // Voir si je fait un mixin flex
                .header-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem;
                    @include text(16px, 500, rgba(255, 255, 255, 0.9));

                    i {
                        color: rgba(255, 255, 255, 0.9);
                    }

                    img {
                        width: 2.5rem;
                        border-radius: 50%;
                        border: 2px solid rgba(255, 255, 255, 0.9);
                        margin: 0 0.5rem;
                    }

                    p {
                        flex-grow: 1;

                        .light {
                            @include text(11px, 400, rgba(255, 255, 255, 0.5));
                        }
                    }
                }
            }
        }
    }

    .content {
        display: none;
    }
}

footer {
    display: none;
}