@import "fonts";
@import "variables";
@import "mixins";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $background;
    // background-color: rebeccapurple;
    @include text;
}

.image-top {
    @include bg-image(0, auto, auto, -5%, (0 0 50% 50% / 0 0 35% 35%));
}

.image-bottom {
    @include bg-image(auto, -10%, 0, auto, (50% 50% 0 0 / 35% 35% 0 0));
    opacity: 0.1;
}



main {
    padding: 10rem 20rem;
    width: 100%;
    display: flex;
    
    .mockup {
        width: 23rem;
        background-color: white;
        border-radius: 30px;
        padding: 1rem;

        .screen {
            background-color: $background;
            border-radius: 20px;
            overflow: hidden;

            .screen-header {
                @include gradient(to left);
                border-radius: 0 0 10px 10px;

                .dynamic-island {
                    width: 55%;
                    height: 1.5rem;
                    background-color: white;
                    margin: 0 auto;
                    border-radius: 0 0 15px 15px;
                }

                // Voir si je fait un mixin flex
                .header-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem;
                    @include text(16px, 500, $headertext);

                    i {
                        color: $headertext;
                    }

                    img {
                        width: 2.5rem;
                        border-radius: 50%;
                        border: 2px solid $headertext;
                        margin: 0 0.5rem;
                    }

                    p {
                        flex-grow: 1;

                        .light {
                            @include text(11px, 400, rgba(255, 255, 255, 0.5));
                        }
                    }
                }
            }
        }

        .screen-chat {
            padding: 1rem;
            display: flex;
            flex-direction: column;

            .left {
                @include bubble($chatleftbg, $chatleft);
                border-radius: 10px 10px 10px 2px;
            }

            .image {
                display: flex;
                align-self: flex-end;
                margin-bottom: 0.7rem;

                img {
                    width: 4rem;
                    border-radius: 10px;
                    margin-left: 0.7rem;

                }
            }

            .right {
                @include bubble(white,$chatright);
                border-radius: 10px 10px 2px 10px;
                align-self: flex-end;
            }

            form {
                @include gradient(to right);
                @include input;
                height: 3rem;
                width: 80%;
                border-radius: 10px 10px 10px 2px;
                margin-bottom: 0.7rem;
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;


                .bold {
                    @include text(18px, 500, $headertext);
                }

            }

            .new-chat { // Container zone d'écriture et boutton d'envoie. 
                width: 100%;
                border-radius: 40px;
                margin-top: 1rem;
                padding: 0.5rem 0.5rem 0.5rem 2rem;
                height: fit-content;
                max-height: 5rem;
                overflow: hidden;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .chat-input { // Div modifiable. 
                    width: 80%;
                    border: none;
                    outline: none;
                    padding: 0.5rem;

                    &:empty::before {
                        content: "Type a message...";
                        color: $lightgray;
                    }
                }

                .icone {
                    height: 2.5rem;
                    width: 2.5rem;
                    background-color: $submit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;

                    i {
                        color: white;
                    }
                    
                }
            }
        }
    }

    .content {
        display: none;
    }
}

footer {
    display: none;
}