@font-face {
    font-family: "BaiRegular";
    src: url(../assets/fonts/BaiJamjuree-Regular.ttf);
}

@font-face {
    font-family: "BaiMedium";
    src: url(../assets/fonts/BaiJamjuree-Medium.ttf);
}