@font-face {
  font-family: "BaiRegular";
  src: url(../assets/fonts/BaiJamjuree-Regular.ttf);
}
@font-face {
  font-family: "BaiMedium";
  src: url(../assets/fonts/BaiJamjuree-Medium.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: "BaiRegular", sans-serif;
  color: hsl(201, 11%, 66%);
  text-align: center;
  background-image: url(../assets/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
body h1 {
  font-family: "BaiMedium", sans-serif;
  color: hsl(210, 10%, 33%);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
body h2 {
  font-family: "BaiMedium", sans-serif;
  color: hsl(210, 10%, 33%);
  font-size: 2rem;
  margin-bottom: 1rem;
}
body h3 {
  font-family: "BaiMedium", sans-serif;
  color: hsl(210, 10%, 33%);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

main {
  padding: 8rem 8rem 0 8rem;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}
main section p {
  width: 55%;
  line-height: 2rem;
}
main section button {
  border: none;
  cursor: pointer;
  color: white;
  font-family: "BaiMedium", sans-serif;
  font-size: 18px;
  border-radius: 30px;
  padding: 1rem 2rem;
  margin-top: 2.5rem;
}
main section .ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 3px 0 hsl(171, 65%, 34%), 0 6px 10px hsla(171, 75%, 54%, 0.578);
}
main section .mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 3px 0 hsl(233, 44%, 45%), 0 6px 10px hsla(233, 81%, 65%, 0.588);
  margin-left: 1rem;
}
main .title img {
  width: 7rem;
  margin-bottom: 3.5rem;
}
main .track {
  width: 100%;
  position: relative;
}
main .track .desktop {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
main .track .desktop img {
  position: relative;
  left: -9.5rem;
}
main .track .desktop .list {
  position: relative;
  left: -2rem;
}
main .track .desktop .list p {
  font-size: 18px;
  width: 90%;
  margin-bottom: 3.5rem;
}
main .access {
  margin-bottom: 4.5rem;
}
main .access img {
  margin-top: 5rem;
}
main .supercharge .tools {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
main .supercharge .tools .tools-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
}
main .supercharge .tools .tools-content img {
  margin-bottom: 2.5rem;
  height: 2.5rem;
}
main .supercharge .tools .tools-content p {
  width: 100%;
}
main .logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  height: auto;
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 8rem;
}
footer img {
  width: 3.5rem;
}
footer .links {
  flex-grow: 1;
}
footer .links ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  text-align: left;
  margin-left: 10rem;
}
footer .links ul a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}
footer .social-media {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
footer .social-media img {
  width: 1.5rem;
}/*# sourceMappingURL=style.css.map */