@import "fonts";
@import "variables";
@import "mixins";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    font-family: "BaiRegular", sans-serif;
    color: $text-color;
    text-align: center;
    background-image: url(../assets/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    @include titles;
    //background-color: red;
}

main {
    padding: 8rem 8rem 0 8rem;

    section {
        @include section;
        @include buttons;
    }


    .title {
        
        img {
            width: 7rem;
            margin-bottom: 3.5rem
        }

    }

    .track {
        width: 100%;
        position: relative;

        .desktop {
            display: flex;
            text-align: left;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;

            img {
                position: relative;
                left: -9.5rem;
            }

            .list {
                position: relative;
                left: -2rem;

                p {
                    font-size: 18px;
                    width: 90%;
                    margin-bottom: 3.5rem;
                }
            }

        }
    }

    .access {
        margin-bottom: 4.5rem;

        img {
            margin-top: 5rem;
        }
    }

    .supercharge {
        .tools {
            display: flex;
            justify-content: space-between;
            margin-top: 5rem;

            .tools-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 32%;


                img {
                    margin-bottom: 2.5rem;
                    height: 2.5rem;
                }

                p {
                    width: 100%;
                }
            }
        }
    }

    .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

footer {
    height: auto;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 8rem;

    img {
        width: 3.5rem;
    }

    .links {
        flex-grow: 1;

        ul {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(3, 20%);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 1rem;
            text-align: left;
            margin-left: 10rem;
    
            a {
                text-decoration: none;
                color: $title-color;
            }

            a:hover {
                color: $cyan;
            }
            
        }
    }

    .social-media {
        width: 10%;
        display: flex;
        justify-content: space-between;

        i {
            color: $title-color;
            cursor: pointer;
        }

        i:hover {
            color: $cyan;
        }
    }
    
}






