@mixin body($weight, $size) {
    font-family: $text;
    font-size: $size;
    font-weight: $weight;
    color: $text-color;
}

@mixin title($size) {
    font-family: $title;
    color: $text-color;
    margin-bottom: 1rem;
    font-size: $size;
}

@mixin text {

    h1 { @include title(2.5rem)}

    h2 { @include title(2rem)}

    h3 { 
        @include title(1.2rem);
        color: $text-light;
    }

    @media screen and (max-width: 1050px) {
        h1 { @include title(2rem)}
        h2 { @include title(1.5rem)}
    }

    p, a{ @include body(400, 1rem)}

    .section p,
    footer p {  @include body(400, 0.8rem )}

    .data { @include body(700, 4rem)}

    .light {
        @include body(400, 1rem);
        color: rgba(164, 164, 164, 0.918);
    }

    span {
        @include body(400, 0.8rem);
        color : $lightred;
    }

    footer {
        p {
            color: $text-light;
        }

        .attribution {
            a {
                @include body(400,0.8rem);
                color: $text-light;
            }
        }
    }
}

@mixin button ($width : auto, $height : auto) {
    border: none;
    cursor: pointer;
    background-color: $pink;
    color: $text-light;
    font-family: $text;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 50px;
    width: $width;
    height: $height;
    box-shadow: 0 5px 15px rgba(131, 131, 131, 0.717);

    &:hover {
        background-color: $lightpink;
    }
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

@mixin section($padding) {
    padding: $padding ;
    @include flex(row);

    .section-content {
        width: 45%;
    }

    .section-image {
        width: 45%;

        img {
            width: 100%;
        }
    }
}

@mixin background($position) {
    background-position: $position;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin form {
    @include flex(row);
    align-items: flex-start;
    margin-top: 2rem;

    input {
        height: 2.5rem;
        margin-bottom: 0.2rem;

        &::placeholder {
            color: lightgray;
        }
    }

    .input-group {
        width: 60%;

        input[type="email"] {
            border: none;
            width: 100%;
            padding-left: 1rem;
            border-radius: 5px;
        }

        .message {
            text-align: left;
            display: none;
        }
    }

    .submit {
        width: 35%;

        input[type="submit"] {
            @include button(100%, 2.5rem);
            padding: 0;
            border-radius: 5px;
            box-shadow: none;
        }
    }

    input[type="email"]:not(:placeholder-shown):invalid {
        border: 1px solid $lightred;
    }

    input[type="email"]:not(:placeholder-shown):invalid + .message {
        display: block;
    }
}