@mixin body($weight, $size) {
    font-family: $text;
    font-size: $size;
    font-weight: $weight;
    color: $text-color;
}

@mixin title($size) {
    font-family: $title;
    color: $text-color;
    margin-bottom: 1rem;
    font-size: $size;
}

@mixin text {

    h1 { @include title(2.5rem)}

    h2 { @include title(2rem)}

    h3 { @include title(1.2rem)}

    p, a{ @include body(400, 1rem)}

    .section p,
    footer p {  @include body(400, 0.8rem )}

    .data { @include body(700, 4rem)}

    .light {
        @include body(400, 1rem);
        color: rgba(164, 164, 164, 0.918);
    }

    span {
        @include body(400, 0.8rem);
        color : $lightred;
    }
}

@mixin button ($width : auto) {
    border: none;
    cursor: pointer;
    background-color: $pink;
    color: $text-light;
    font-family: $text;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 30px;
    padding: 1rem;
    width: $width;
    box-shadow: 0 5px 15px rgba(131, 131, 131, 0.717);
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

@mixin section($padding) {
    padding: $padding ;
    @include flex(row);

    .section-content {
        width: 45%;
    }

    .section-image {
        width: 45%;

        img {
            width: 100%;
        }
    }
}

@mixin background($position) {
    background-position: $position;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin form {

    input[type="submit"] {
        @include button;
        font-size: 0.8rem;
    }
}