// Variables couleur
$pink:hsl(322, 100%, 66%);
$lightpink:hsl(321, 100%, 78%);
$lightred:hsl(0, 100%, 63%);
$text-color:hsl(192, 100%, 9%);
$background:hsl(207, 100%, 98%);
$text-light: white;

// Variables typo
$title: "Poppins" , sans-serif;
$text: "OpenSans" , sans-serif;