@import "fonts";
@import "variables";
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include text;
    // background-color: rebeccapurple;
}

header {
    background-image: url(../assets/images/bg-section-top-desktop-1.svg);
    @include background(bottom);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 3rem 3rem 3rem;

        img {
            width: 10rem;
        }

        a {
            @include button;
            box-shadow: none;
            background-color: transparent;
            color: $pink;
            text-decoration: none;
            border: 1px solid $pink;
            padding: 0.5rem 2rem;
            width: auto;
        }
    }

    .header {
        padding: 5rem 10rem 15rem 10rem;
        @include flex(column);

        .header-content {
            @include flex(column);

            p {
                width: 45%;
                margin-bottom: 2rem;
                text-align: center;
            }

            button {
                @include button(30%, 4rem)
            }
        }

        .header-image {
            width: 90%;
            margin: 5rem 0rem;

            img {
                width: 100%;
            }
        }

        .header-data {
            width: 70%;
            @include flex(row);
            text-align: left;
        }
    }
}

main {
    .section {

        &.grow {
            @include section(2rem 10rem);
            background-color: $background;
        }

        &.flowing {
            @include section(15rem 10rem);
            background-image: url(../assets/images/bg-section-bottom-desktop-1.svg), url(../assets/images/bg-section-top-desktop-2.svg);
            @include background((top,bottom));

            .section-content {
                order: 2;
            }
        }

        &.users {
            @include section(2rem 10rem);
            background-color: $background;
        }
    }

    .call-to-action {
        padding: 15rem 10rem 20rem 10rem;
        background-image: url(../assets/images/bg-section-bottom-desktop-2.svg), url(../assets/images/bg-footer-top-desktop.svg);
        @include background((top, bottom));
        text-align: center;

        button {
            @include button(30%, 4rem);
            margin-top: 1rem;
        }
    }
}

footer {
    background-color: $text-color;
    padding: 2rem 10rem;
    .footer-content {
        @include section(0);

        .info {
            width: 25%;

            .logo {
                width: 10rem;
            }

            p {
                margin-top: 1.5rem;
            }

            img {
                margin-right: 1rem;
                vertical-align: middle;
            }
        }

        .newsletter {
            width: 40%;

            p {
                width: 70%;
            }

            form {
                @include form;
            }
        }
    }

    .footer-end {
        @include flex(row);
        height: 2.5rem;
        padding: 5rem 0;

        .icon {
            i {
                color: $text-light;
            }
        }

        i:not(:nth-child(3)) {
            margin-right: 1rem;
        }


    }
}